{% extends 'admin.html.twig' %}

{% block content %}
    <div class="table-responsive">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <h2>Available Post</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for item in post %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.description|slice(0, 50) ~ '...' }}</td>
                        <td>
                            <p><a href="/admin/post/view/{{ item.id }}">Edit</a></p>
                            <p><a href="/admin/post/delete/{{ item.id }}">Delete</a></p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <a class="btn btn-primary" href="/admin/post/add">Create new post</a>
    </div>
{% endblock %}