{% extends 'blog.html.twig' %}
{% block content %}
<!--Grid column-->

    <div class="article">
        <h1>Today: {{ post.title }}</h1>
        <p>{{ post.description }}</p>
        <p>{{ post.author }}</p>
    </div>
    <div class="showComment">
        <h1>List Comments</h1>
        {% for item in comment %}
            <div clas="comment-item">
                <p>
                    {{ item.id }} - <a href="{{ item.url }}">{{ item.url }}</a> said {{ item.createdAt|date('Y-m-d\\TH:i:sP') }}
                    </br>
                    {{ item.comment }}
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="createComment">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        <form action="/comment/create" method="post">
            <h1>Create a new Comment</h1>
            <input type="hidden" class="form-control" name="postId" id="postId" aria-describedby="postIdHelp" placeholder="postId" value="{{ post.id }}">
            <div class="form-group">
                <label for="name">name</label>
                <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="name">
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input type="text" class="form-control" name="email" id="name" aria-describedby="emailHelp" placeholder="email">
            </div>
            <div class="form-group">
                <label for="url">url</label>
                <input type="text" class="form-control" name="url" id="url" aria-describedby="urlHelp" placeholder="url">
            </div>
            <div class="form-group">
                <label for="comment">comment</label>
                <input type="text" class="form-control" name="comment" id="comment" aria-describedby="commentHelp" placeholder="comment">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
